In [3]:
import pandas as pd
import numpy as np

In [6]:
sozlukVerisi={"Istanbul":[30,29,np.nan],"Ankara":[20,np.nan,25],"Izmır":[40,39,28]}
havaDurumuDataFrame=pd.DataFrame(sozlukVerisi)

In [7]:
havaDurumuDataFrame

   Istanbul  Ankara  Izmır
0      30.0    20.0     40
1      29.0     NaN     39
2       NaN    25.0     28

In [8]:
havaDurumuDataFrame.dropna()

   Istanbul  Ankara  Izmır
0      30.0    20.0     40

In [9]:
havaDurumuDataFrame

   Istanbul  Ankara  Izmır
0      30.0    20.0     40
1      29.0     NaN     39
2       NaN    25.0     28

In [10]:
havaDurumuDataFrame.dropna(axis=1)

   Izmır
0     40
1     39
2     28

In [13]:
yeniVeri={"Istanbul":[30,29,np.nan],"Ankara":[20,np.nan,25],"Izmır":[40,39,28],"Antalya":[45,np.nan,np.nan]}
yeniDataFrame=pd.DataFrame(yeniVeri)

In [14]:
yeniDataFrame

   Istanbul  Ankara  Izmır  Antalya
0      30.0    20.0     40     45.0
1      29.0     NaN     39      NaN
2       NaN    25.0     28      NaN

In [16]:
yeniDataFrame.dropna(axis=1,thresh=2) #2 veri üzeri nan olanları atar

   Istanbul  Ankara  Izmır
0      30.0    20.0     40
1      29.0     NaN     39
2       NaN    25.0     28

In [17]:
yeniDataFrame

   Istanbul  Ankara  Izmır  Antalya
0      30.0    20.0     40     45.0
1      29.0     NaN     39      NaN
2       NaN    25.0     28      NaN

In [18]:
yeniDataFrame.fillna(20)

   Istanbul  Ankara  Izmır  Antalya
0      30.0    20.0     40     45.0
1      29.0    20.0     39     20.0
2      20.0    25.0     28     20.0

## groupby

In [38]:
maasSozlugu={"Departman":["Yazılım","Yazılım","Pazarlama","Pazarlama","Hukuk","Hukuk"],
            "Calisan Ismi":["Ahmet","Mehmet","Atıl","Burak","Zeynep","Fatma"],
            "Maas":[100,150,200,300,400,500]}

In [39]:
maasDataFrame=pd.DataFrame(maasSozlugu)

In [34]:
maasDataFrame

   Departman Calisan Ismi  Maas
0    Yazılım        Ahmet   100
1    Yazılım       Mehmet   150
2  Pazarlama         Atıl   200
3  Pazarlama        Burak   300
4      Hukuk       Zeynep   400
5      Hukuk        Fatma   500

In [35]:
grupObjesi=maasDataFrame.groupby("Departman")

In [36]:
grupObjesi.count()

           Calisan Ismi  Maas
Departman
Hukuk                 2     2
Pazarlama             2     2
Yazılım               2     2

In [44]:
grupObjesi.mean()

TypeError: Could not convert ZeynepFatma to numeric

# grupObjesi.min()

In [41]:
grupObjesi.max()

          Calisan Ismi  Maas
Departman
Hukuk           Zeynep   500
Pazarlama        Burak   300
Yazılım         Mehmet   150

In [42]:
grupObjesi.describe()

           Maas
          count   mean        std    min    25%    50%    75%    max
Departman
Hukuk       2.0  450.0  70.710678  400.0  425.0  450.0  475.0  500.0
Pazarlama   2.0  250.0  70.710678  200.0  225.0  250.0  275.0  300.0
Yazılım     2.0  125.0  35.355339  100.0  112.5  125.0  137.5  150.0