In [2]:
import pandas as pd

In [4]:
dataFrame=pd.read_excel("maas.xlsx")

In [5]:
dataFrame

  Unnamed: 0  Maas   Yas  Departman
0       Atıl   100  40.0    Yazılım
1     Zeynep   150  50.0      Satış
2     Mehmet   200  30.0        NaN
3      Ahmet    50  10.0  Pazarlama
4      Atlas   150   NaN     Finans
5      Fatma   200  25.0      Hukuk

In [8]:
doluDegerlerDataFrame=dataFrame.dropna()

In [9]:
doluDegerlerDataFrame.to_excel("yenimaas.xlsx")

In [ ]:
## read_csv
## to_csv